@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="text-center">
        <h2 class="display-6">Bienvenido al Sistema de Música</h2>
        <p class="lead">Seleccione una opción del menú para comenzar</p>
    </div>
</div>